/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-top: 3rem;
	padding-bottom: 0rem;
	color: #5a5a5a;
	background-color: #2062C6;
}

.navbar {
	background-color: black;
	/*#294A3A;*/
	/*#2e2d2a;*/
	margin-bottom: 3em;
}

footer {
	text-align: left;
	background-color: black;
	/*#294A3A;*/
	/*#2e2d2a;*/
	font-size: small;
	margin-top: 3em;
}

.btn-primary {
	background-color: #2062C6;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2 {
	font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0;
	/* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	/* rtl:remove */
	letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 0rem;
		font-size: xx-large;
	}
}


/* ADDED BY AMELIE
-------------------------------------------------- */

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.trailer {
	width: 50 em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.jumbotron {
	background-image: url('background_.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: left;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	padding-right: 50em;
	max-width: 40rem;
	background: rgba(255, 255, 255, 0.0);
	padding: 2rem;
	color: white;
	margin-left: 50px
}

.jumbotron p {
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.col-md-4 {
	margin: auto;
	text-align: center;
	padding: 10px;
}

.further-information {
	text-align: center;
}

.center {
	line-height: 200px;
}

/* If the text has multiple lines, add the following: */
.center p {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

.container title {
	background-color: black;
}

.informationen {
	padding-left: 3em;
	padding-right: 3em;
}

.card {
	text-align: center;
}

.credits {
	text-align: left;
}

ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.card-columns {
	@include media-breakpoint-only(lg) {
		column-count: 2;
	}

	@include media-breakpoint-only(xl) {
		column-count: 3;
	}
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
